# Core functionality - changes here should be rare!
/src/app.py                   @blackdreamer15
/src/backend/database.py      @blackdreamer15
/src/backend/routers/auth.py  @blackdreamer15

# The frontend will need refactored soon to be more object oriented.
/src/static/   @blackdreamer15
